body{
    background-color: transparent
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent
}


li {
    text-decoration: none;
    display: inline;
    color: green;
    padding: 16px 14px;
    text-align: left;
}


li a:hover:not(.active) {
    color: lawngreen
}


li a.active {
    color: red
}


 .cloud {
   position: absolute;
   top: 100px;
   right: -500px;
   opacity: .8;
    animation: cloud 20s linear 0s infinite reverse;
   z-index: 99;
 }
 
 @keyframes cloud {
   from {right:-500px;}
   to {right: 102%;}
 }
